
.header {
  display: flex;
  height: 293px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.header__menu-list {
  display: flex;
  gap: 23px;
  list-style: circle;
}

.header__menu-item_active {
  list-style-type: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 129.11px;
  height: 104.95px;
}

